---
http_interactions:
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/launchRequests?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&launch_key=BOGUS
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 500
      message: Internal Server Error
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":{"code":9000,"message":"Requested action failed. Invalid
        or unavailable launch key"}}'
  recorded_at: Thu, 12 Dec 2013 18:16:13 GMT
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/launchRequests?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&launch_key=wxw0PE
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"user_token":"a1b9fe377","title":"NONE","first_name":"gobstopperinc-teacher1","last_name":"Teacher","user_type":"TEACHER","avatar_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar.png","thumb_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar_t.png","time_zone":"America\/Los_Angeles","groups":[{"group_id":582139,"is_owner":1},{"group_id":583203,"is_owner":1}]}'
  recorded_at: Thu, 12 Dec 2013 18:31:17 GMT