---
http_interactions:
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/users?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&user_tokens=%5B%22a1b9fe377%22,%20%22a4cd03ede%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"user_token":"a1b9fe377","title":"NONE","first_name":"gobstopperinc-teacher1","last_name":"Teacher","user_type":"TEACHER","avatar_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar.png","thumb_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar_t.png","time_zone":"America\/Los_Angeles"},{"user_token":"a4cd03ede","title":"NONE","first_name":"gobstopperinc-student1","last_name":"Student","user_type":"STUDENT","avatar_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar.png","thumb_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar_t.png","time_zone":null}]'
  recorded_at: Thu, 12 Dec 2013 19:17:47 GMT
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/users?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&user_tokens=%5B%22a1b9fe377%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"user_token":"a1b9fe377","title":"NONE","first_name":"gobstopperinc-teacher1","last_name":"Teacher","user_type":"TEACHER","avatar_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar.png","thumb_url":"https:\/\/box.u.ph.edim.co\/default-avatars\/default_avatar_t.png","time_zone":"America\/Los_Angeles"}]'
  recorded_at: Thu, 12 Dec 2013 19:48:40 GMT
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/groupsForUser?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&user_token=a1b9fe377
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '[{"group_id":582139,"title":"English Group A (testing)","member_count":3,"owners":["a1b9fe377"],"subject":"language-arts","sub_subject":null,"start_level":"6th","end_level":"6th"},{"group_id":583203,"title":"Group
        Two","member_count":1,"owners":["a1b9fe377"],"subject":"language-arts","sub_subject":null,"start_level":"11th","end_level":"11th"}]'
  recorded_at: Thu, 12 Dec 2013 19:48:40 GMT
- request:
    method: get
    uri: https://appsapi.edmodobox.com/v1.1/users?access_token=<EDMODO_ACCESS_TOKEN>&api_key=<EDMODO_API_KEY>&user_tokens=%5B%22BOGUS%22%5D
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 404
      message: Not Found
    headers:
      Content-Type:
      - application/json
    body:
      encoding: US-ASCII
      string: ! '{"error":{"code":9000,"message":"Requested action failed. Invalid
        or unavailable user tokens"}}'
  recorded_at: Thu, 12 Dec 2013 18:16:13 GMT
recorded_with: VCR 2.4.0


